@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.profile {
    display: flex;
    justify-content: space-between;
}

.friend_requests > a{
    color: blue;
    text-decoration: underline;
}